.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.signInContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 3vh;
}

.signOutContainer {
  position: absolute;
  padding: 3vh;
  top: 50px;
  right: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none; 
  cursor: pointer;
}

.signOutContainer.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto; 
}

