.button {
  width: 100%;
  background-color: #e0e1dd;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.generatingButton {
  animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
  0% {
    background-color: #e0e1dd;
  }
  50% {
    background-color: #1e1e1e;
  }
  100% {
    background-color: #e0e1dd;
  }
}

.button:active {
  transform: scale(0.98);
}

.normal {
  background-color: #e0e1dd;
  border: 1px dashed #0d1b2a;
}

.green {
  background-color: #4caf50;
}

.generatingText {
  animation: blinkingColor 2s infinite;
}

@keyframes blinkingColor {
  0% {
    color: black;
  }
  50% {
    color: rgb(80, 80, 80);
  }
  100% {
    color: black;
  }
}
