.loader {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  animation: rotate 0.3s linear infinite;
  width: fit-content;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}
