.container {
  width: 100vw;
  height: 100vh;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 60vh;
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)),
    rgb(214, 219, 220);
}

.heading {
  font-size: 3rem;
}

.subheading {
  font-size: 2rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: right;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
    gap: 60vh;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.5rem;
  }
}
