.container {
  width: 100%;
  padding: 4vh 6vw;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  overflow: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 5vh 8vw;
  }
  .main {
    flex-direction: column;
    gap: 5vh;
  }
}
