.main {
  width: 100vw;
  height: 100vh;
  padding: 6vh 6vw;
}

.essayContainer {
  display: flex;
  gap: 3rem;
}

@media (max-width: 768px) {
  .essayContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
}
